VirtualFileSystemClient.Model/Connected Services/VirtualFileSystemServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://andrey.sergeev.vfsservice" elementFormDefault="qualified" targetNamespace="http://andrey.sergeev.vfsservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorizeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizeRequest" nillable="true" type="tns:AuthorizeRequest" />
  <xs:complexType name="AuthorizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TotalUsers" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizeResponse" nillable="true" type="tns:AuthorizeResponse" />
  <xs:complexType name="AuthorizeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizeFault" nillable="true" type="tns:AuthorizeFault" />
  <xs:complexType name="DeauthorizeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeauthorizeRequest" nillable="true" type="tns:DeauthorizeRequest" />
  <xs:complexType name="DeauthorizeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeauthorizeResponse" nillable="true" type="tns:DeauthorizeResponse" />
  <xs:complexType name="DeauthorizeFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeauthorizeFault" nillable="true" type="tns:DeauthorizeFault" />
  <xs:complexType name="CommandRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandRequest" nillable="true" type="tns:CommandRequest" />
  <xs:complexType name="CommandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandResponse" nillable="true" type="tns:CommandResponse" />
  <xs:complexType name="CommandFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandFault" nillable="true" type="tns:CommandFault" />
  <xs:complexType name="CommandPerformedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandPerformedData" nillable="true" type="tns:CommandPerformedData" />
</xs:schema>